@font-face {
    font-family: 'Trenda It';
    src: url('../../../assets/fonts/Trenda-RegularIt.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda Light It';
    src: url('../../../assets/fonts/Trenda-LightIt.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda';
    src: url('../../../assets/fonts/Trenda-Semibold.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda Bold It';
    src: url('../../../assets/fonts/Trenda-BoldIt.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda Semibold It';
    src: url('../../../assets/fonts/Trenda-SemiboldIt.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda';
    src: url('../../../assets/fonts/Trenda-Light.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda';
    src: url('../../../assets/fonts/Trenda-Regular.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda';
    src: url('../../../assets/fonts/Trenda-Bold.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda Thin It';
    src: url('../../../assets/fonts/Trenda-ThinIt.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Trenda';
    src: url('../../../assets/fonts/Trenda-Thin.woff2') format('woff2'),
        url('../../../assets/fonts/Trenda-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

